<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="HostSmtp" value="smtp.gmail.com"/>
		<add key="Port" value="587"/>
		<add key="EnableSsl" value="true"/>
		<add key="SenderName" value="Rafal Test"/>
		<add key="SenderEmail" value="reportservicerl@gmail.com"/>
		<add key="SenderEmailPassword" value="encrypt:aaaaaaa"/>
		<add key="ReceiverEmail" value="rafal_laczek@wp.pl"/>
		<add key="SendHours" value="12"/>
		<add key="IntervalInMinutes" value="2"/>
		<add key="EnableSendReport" value="true"/>
	</appSettings>
</configuration>